.mainContainer{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100%;
}

.documentsContainer{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap:6vmin;
    height:100%;
    width:100%;
    padding:2vmin;
    box-sizing: border-box;
}