.mainContainer{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100%;
    box-sizing:border-box;
    padding:4vmin;
}

.documentsContainer{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap:6vmin;
    height:100%;
    width:100%;
}