.mainContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.documentsContainer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 1vmin;
	height: 100%;
	width: 100%;
}
