.document {
	display: flex;
	gap: 0.5dvw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 20%;
    cursor:pointer;
    box-shadow:1px 1px grey;
    background:rgba(64, 64, 180, 0.779);
    border-radius: 5px;
}

.fileName {
	font-size: smaller;
}

.img {
	width: 50%;
}

.date {
	font-size: x-small;
}

@media screen and (max-width:850px){

		.img{
			width:30%;
		}


		.document{
			width:10%;
			max-width:140px;
			max-height:140x;
		}
	}