.document {
	display: flex;
	gap: 1vmin;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 60%;
	width: 20%;
    cursor:pointer;
    box-shadow:1px 1px grey;
    background:rgba(64, 64, 180, 0.779);
    border-radius: 5px;
}

.fileName {
	font-size: smaller;
}

.img {
	width: 60%;
}

.date {
	font-size: x-small;
}
