* {
	font-family: Roboto, sans-serif;
	font-size: medium;
}

.grid-container {
	display: grid;
	grid-template-areas:
		'sidenav  header header header header'
		'sidenav  header header header header'
		'sidenav  card-container card-container  card-container card-container'
		'sidenav  main-overview main-overview recent recent '
		'sidenav  main-overview main-overview recent recent '
		'sidenav  main-overview main-overview recent recent '
		'sidenav  main-overview main-overview recent recent '
		'sidenav  main-overview main-overview graph graph '
		'sidenav  main-overview main-overview graph graph '
		'sidenav  main-overview main-overview graph graph '
		'sidenav  main-overview main-overview graph graph '
		'sidenav  footer footer footer footer';
	grid-template-columns: 20vmin repeat(4, 1fr);
}

header {
	grid-area: header;
}

nav {
	grid-area: sidenav;
}

#card-container {
	grid-area: card-container;
}

#main-overview {
	grid-area: main-overview;
	background: grey;
}

#recent-container {
	grid-area: recent;
	background-color: blueviolet;
}

#graph-container {
	grid-area: graph;
	background-color: aqua;
}

footer {
	grid-area: footer;
	background: rgb(187, 185, 185);
}
