* {
	font-family: Roboto, sans-serif;
	font-size: medium;
}

html {
	background: rgba(5, 35, 208, 0.301);
}

.grid-container {
	display: grid;
	grid-template-areas:
		'sidenav  header header header header'
		'sidenav  header header header header'
		'sidenav  card-container card-container  card-container card-container'
		'sidenav  main-overview main-overview documents-container documents-container '
		'sidenav  main-overview main-overview documents-container documents-container '
		'sidenav  main-overview main-overview graph graph '
		'sidenav  main-overview main-overview graph graph '
		'sidenav  main-overview main-overview graph graph '
		'sidenav  main-overview main-overview graph graph '
		'sidenav  footer footer footer footer';
	grid-template-columns: 20vmin repeat(4, 1fr);
	grid-gap: 0.5vmin;
}

header {
	grid-area: header;
}

nav {
	grid-area: sidenav;
}

#card-container {
	grid-area: card-container;
}

#main-overview {
	grid-area: main-overview;
}

#documents-container {
	grid-area: documents-container;
	background: linear-gradient(
		to right,
		rgba(5, 36, 208, 0.8),
		rgba(5, 35, 208, 0.531)
	);
}

#graph-container {
	grid-area: graph;
	background: linear-gradient(
		to right,
		rgba(5, 36, 208, 0.8),
		rgba(5, 35, 208, 0.531)
	);
}

footer {
	grid-area: footer;
}

@media screen and (max-width: 850px) {
	.grid-container {
		display: flex;
		flex-direction: column;
		gap: 0;
		overflow: auto;
	}

	footer {
		position: fixed;
		bottom: 0;
		width: 100dvw;
		height: 3dvh;
	}

	header {
		height: 13dvh;
	}

	#card-container {
		height: 10dvh;
	}

	#documents-container {
		height: 22.4dvh;
	}

	nav,
	#graph-container {
		display: none;
	}
}
