* {
	color: #fafbfd;
	text-decoration: none;
	font-weight: 500;
	margin: 0;
}

#MainHeader {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.searchContainer {
	display: flex;
	align-items: center;
	background: rgba(97, 97, 197, 0.982);
	height: 5vmin;
	margin: 0;
}

.searchInput {
	display: flex;
	margin: 0;
}

.user-icon {
	display: flex;
	margin-left: auto;
	margin-right: 2vmin;
	width: 2em;
	background: rgba(97, 97, 197, 0.982);
	cursor: pointer;
}

input {
	border: none;
	background: rgba(97, 97, 197, 0.982);
	padding: 0.5em;
	width: 100%;
}

input:focus {
	outline: none;
}

.header {
	display: flex;
	align-items: center;
	background: url(https://images.pexels.com/photos/547114/pexels-photo-547114.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-size: cover;
	background-position: center;
	justify-content: space-between;
	height: 100%;
}

#user-greeting {
	padding: 1vmin;
	margin-left: 10vmin;
}

.notifsContainer {
	display: flex;
	flex-direction: row;
	gap: 1vmin;
	padding: 1vmin;
	justify-content: space-evenly;
	align-items: center;
	margin-right: 10vmin;
}

@media screen and (max-width: 850px) {
	.header {
		justify-content: center;
	}

	.notifsContainer {
		justify-content: space-between;
		gap: 8vmin;
		margin-right: 0;
	}

	#user-greeting {
		display: none;
	}

	.searchContainer {
		height: 10vmin;
	}

	.searchContainer{
		top:0;
		width:100dvw;
	}
}
